<div class="exam-reports-impersonated-header">
    <div class="term-class">
        <h2>
            {{t "header.viewingStudent"}}&nbsp;{{impersonatedUser.firstName}}&nbsp;{{impersonatedUser.lastName}}
        </h2>
    </div>
    <div class="navigation">
        <a {{action "goBackToExamSummary"}} class="go-back">{{t "examReports.returnTo"}}</a>
    </div>
</div>
