<div class="graph hidden-xs">
    <div class="base">
        <span>{{levelValue}}</span>
    </div>
    <div class="level">
        <div class="bar" style={{levelPercentage}}></div>
    </div>
    <div class="image"></div>
    <div class="overlay"></div>
</div>
<span class="legend">{{legendText}}</span>
<span class="detail">{{levelValue}} {{t "common.of"}} 100</span>
