<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{userName}} {{t "common.loginTimeline"}}</h4>
            <div><span>{{t "common.from"}}</span> <em>{{periodStart}}</em> &hyphen; <em>{{periodEnd}}</em></div>
        </div>
        <div class="modal-body">
            <div>
                <div class="calendar"></div>
                <div class="detail">
                    <b>{{t "common.totalLogins"}}</b>
                    <em>{{totalLogins}}</em>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
