<div class="select-point-result select-point-{{idQuestion}}">
	<img id="img-{{idQuestion}}" class="bg" src={{urlImage}} />
	
	<div id="correct-result-{{idQuestion}}" class={{resultOkClass}}>
		<div class="bg-transparent"></div>
	</div>
	<div id="result-{{idQuestion}}" class="result {{if result.correct 'correct' 'incorrect'}}"></div>
</div>