
<section class="access-area">
	<div class="container cf">
        <h3 class="section-header light">{{t "login.titleForgotPassword"}}</h3>
            <section class="accordion">
				<div>
                    <div class="auto-center col-sm-6">
                       	{{#if showMessage}}
                       		<div class="row"><br>
	                            <span class="success-label">{{t "login.successEmail"}} </span><strong>{{email}}</strong>.<br><br>
	                        </div>
                    	{{else}}
                    		<form id="forgot-password-form" role="form">
		                        <div class="row"><br>
		                            {{t "login.enterEmail"}}<br><br>
		                        </div>
		                        <div class="center">
		                            {{t "login.email"}}
		                        </div>
		                        <div class="center">
		                            {{input type="email" id="email" name="email" value=email}}
		                        </div>
		                        <div class="center">
		                            <div class="col-sm-8 auto-center">
		                                <button type="submit" class="btn btn-blue auto-center btn-expand " {{action "sendForgotPassword"}}>{{t "login.submit"}}</button><br>
		                            </div>
		                        </div>
	                    	</form>
                    	{{/if}}
                    </div>
                </div>
            </section>
    </div>
    <!--<div id="landing-tile"></div>-->
</section>
{{partial 'login/need_help'}}
