<div class="assignment-content one-target clearfix">
    <div class="name">
        {{t "assignment.masteryLevelQuiz"}}
        <h2>{{assignment.name}}</h2>

        {{partial "student/partials/assignment_header_chapter"}}

    </div>
    <div class="target">
        <div class="targets">
            {{t "assignment.targetMastery"}}
            <div class="ml">{{assignment.targetMasteryLevel}}</div>
        </div>
    </div>
</div>
