<div class="assignment-content clearfix">
    <div class="name">
        {{t "assignment.exam.header"}}
        <h2>{{assignment.name}}</h2>
    </div>
    <div class="target">
        <div class="targets">
            <b>{{t "assignment.exam.questionsAssigned"}}</b>
            <div class="ml">{{assignment.numberQuestion}}</div>
        </div>
        <div class="targets right">
            <b>{{t "assignment.exam.pointValue"}}</b>
            <div class="ml">{{assignment.points}}</div>
        </div>
    </div>
</div>
