<div class="assignment-content one-target clearfix">
    <div class="name">
        {{t "assignment.questionCollectionAssignment"}}
        <h2>{{assignment.name}}</h2>
        <span class="chapter">{{assignment.totalQuestionsLabel}}</span>
    </div>
    <div class="target">
        <div class="targets">
            {{t "assignment.points"}}
            <div class="ml points">{{assignment.points}}</div>
        </div>
    </div>
</div>
