<div class="assignment-info clearfix">
    {{partial "student/partials/assignment_header_3_col"}}
    <div class="details">
        {{t "assignment.startAssignmentMessage"}}
        <span class="highlight"><strong>{{format-date assignment.dueDate}}</strong></span>
    </div>
</div>
<div class="clearfix">
    <div class="questions-desc">
        <h4>{{t "assignment.numberOfQuestions"}}</h4>
        {{my-select 
            name=question_number
            content=numQuestions
            selectedValue=numQuestionsSelected}}
    </div>
    {{#if failedMessage}}
        <div class="error">{{failedMessage}}</div>
    {{/if}}
    <div class="btn-box">
        {{async-button data-button-class="btn btn-blue start-quiz"
                       data-text="assignment.startQuiz"
                       action="startQuiz" }}
    </div>
</div>
