<div id="enrollStudent">
	<div class="misconceptions-enroll clearfix">
		<div class="icon-box"><i class="fa fa-users"></i></div>
		<div class="explanation-box">
			<h2>{{t "hmcd.enrollingStudents"}}</h2>
			<ul>
				<li>{{t "hmcd.enrollStudentStep1"}}{{class.classCode}}</li>
				<li>{{t "hmcd.enrollStudentStep2"}}</li>
				<li>{{t "hmcd.enrollStudentStep3"}}</li>
				<li>{{t "hmcd.enrollStudentStep4"}}</li>
			</ul>
		</div>
	</div>
</div>
