<!-- F O O T E R -->
<footer role="contentinfo">
<div class="container-fluid cf">
	<div class="row">
		<div class="col-sm-6 text-right col-sm-push-6">
			<ul id="menu-footer-navigation" class="list-inline"><li class="menu-about-prepu"><a href="/about-prepu/">{{t "footer.about"}}</a></li>
			<li class="menu-press"><a href="/press/">{{t "footer.press"}}</a></li>
			<li class="menu-support"><a href="/support/">{{t "footer.support"}}</a></li>
			<li class="menu-privacy-terms-of-service"><a href="/privacy-terms-of-service/">{{t "footer.privacyTerms"}}</a></li>
			<li class="menu-friend-prepu-on-facebook"><a href="https://www.facebook.com/PrepUQuiz">{{t "footer.facebook"}}</a></li>
			<li class="menu-follow-prepu-on-twitter"><a href="https://twitter.com/PrepUQuiz">{{t "footer.twitter"}}</a></li>
			</ul>
		</div>
		<div class="col-sm-6 col-sm-pull-6">
			<p>&copy;&nbsp;{{t "footer.copyright"}}</p>
		</div>
	</div>
</div>
</footer>
